/* --------------------------------------## Home ##------------------------------------------ */


/* ################################### start Navbar section ################################### */
@media(min-width:991px) {
    .navbar .navbar-nav .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        transform: translateX(-50%);
        height: 2px;
        background-color: var(--main-color);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .navbar .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

@media (max-width: 386px) {
    .navbar-brand {
        width: 200px;
    }
}

/* ################################### End Navbar section ################################### */

/* ################################### start landing section ################################### */
@media (max-width: 991px) {
    .hero-section .container h1 {
        font-size: 45px;
        font-weight: 600;
    }

    .hero-section .container {
        top: -30px;
    }

    .navbar {
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
    }

}

/* ################################### End landing section ################################### */


/*  ################################### why-choose-us , articles-tips  ################################### */ 

@media (max-width: 1024px) {
    .why-choose-us, .articles-tips {
        padding: 0 50px;
    }
    
    .feature, .article {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .why-choose-us, .articles-tips {
        padding: 0 20px;
    }
    
    .why-choose-us .features, 
    .articles-tips .articles {
        flex-direction: column;
        align-items: center;
    }
    
    .feature, .article {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .feature, .article {
        width: 100%;
        padding: 20px;
        margin: 10px 0;
    }
}


/*  ################################### End why-choose-us , articles-tips  ################################### */ 


/* ############################### our partner ###################################*/

@media (max-width: 768px) {

    .our_partner_img {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .partner_image {
        width: 40%;
        margin-bottom: 20px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .our_partner_img {
        flex-wrap: wrap;
    }

}

/* ############################### End our partner ###################################*/

/* ################################### register footer ################################### */

@media (max-width: 1420px) {
    .register_footer {
        padding: 30px 20px;
    }

    .register_footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .register_footer_head {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
    }

    .register_footer_head button {
        width: 60%;
        padding: 15px 0;
        font-size: 20px;
    }

    .register_footer_sec {
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }
}

/* ################################### End register footer ################################### */

/* ################################### footer ################################### */

@media (max-width: 992px) {
    footer .main-footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    footer .main-footer .widget {
        margin-bottom: 20px;
    }

    .copy-rights .row {
        display: block;
        text-align: center;
    }

    .copy-rights .col {
        margin-bottom: 10px;
    }
}

/* ################################### End footer ################################### */






/* --------------------------------------## Services ##-------------------------------------- */

@media (max-width: 480px) {
    .overlayed-image img {
        height: 200px;
    }

    .overlay-text {
        margin-top: 60px;
        margin-left: 60px;
    }
}

@media (max-width: 850px) {
    .overlay-text {
        margin-top: 80px;
        margin-left: 100px;
    }

    .service-card img {
        height: 300px;
    }

    .service-card p {
        font-size: 1.1em;
    }
}




/* --------------------------------------## About us ##-------------------------------------- */









/* --------------------------------------## Bolg ##------------------------------------------ */



@media (max-width: 1200px) {
    .blog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header .logo img {
        width: 120px;
        margin-bottom: 10px;
    }
    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }
    header nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .blog-grid {
        grid-template-columns: 1fr;
    }
    .post-content .tag.business, 
    .post-content .tag.construction {
        top: auto;
        left: auto;
        position: relative;
    }
}

@media (max-width: 480px) {
    header .logo img {
        width: 100px;
    }
    header nav ul {
        align-items: center;
    }
    .post-content h3 {
        font-size: 16px;
    }
    .post-content p {
        font-size: 12px;
    }
    .pagination a {
        font-size: 16px;
    }
}






/* --------------------------------------## Blog Details ##---------------------------------- */









/* --------------------------------------## Property ##-------------------------------------- */

@media (max-width: 1200px) {
    .col-md-8 {
        width: 66.66%;
    }

    .col-md-3 {
        width: 25%;
    }
    .Featured_Propertiesr {
        display: none;
    }
}

@media (max-width: 992px) {

    .col-md-8,
    .col-md-3 {
        width: 100%;
    }

    .property_side_contant {
        margin-right: 0;
    }
    
}

@media (max-width: 768px) {
    /* .col-6 {
        width: 100%;
    } */

    .property_cards {
        width: 100%;
    }

    .property_button_1,
    .property_button_2 {
        font-size: 12px;
        padding: 4px 8px;
    }

    .property_card_title {
        font-size: 18px;
    }

}

@media (max-width: 576px) {

    .property_main_contant,
    .property_side_contant {
        padding: 15px;
    }

    .property_cards img {
        height: 200px;
    }

    .property_card_title {
        font-size: 16px;
    }

    .property_card_location,
    .property_card_code,
    .property_card_footer {
        font-size: 12px;
    }
}








/* --------------------------------------## Property Details ##------------------------------ */









/* --------------------------------------## Contact us ##------------------------------------ */
